*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 9vh;
 }

:root{
    --Color-Principal: #293b5d;
    --Color-Secundaria: #e3ebef;
    --Color-Blocos:white;
}

body{
    background-color: var(--Color-Secundaria);
}

/* Cabeçalho */
header{
    width: 100%;
    height: 8vh;
    background-color: var(--Color-Principal);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 30;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;  
    justify-content: space-between;   
}

.Img-Logo{
    max-width: 100px;
}

.Nav-Menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-self: center;
}

.Btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.ri-align-justify{
    display: none;
}

.Nav-Hide{
    display: none;
}
/* Cabeçalho */
/* Corpo */

main{
    max-width: 80vw;
    height: auto;
    margin: auto;
    margin-top: 8vh;
    padding: 2px 5px ;
}

.Bloco{
    width: 100%;
    height: auto;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
}

.divisoria{
    width: 95%;
    height: 2px;
    border-radius: .49rem;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    color: black;
    background-color: var(--Color-Principal);
}

.divisoria span {
    padding: 5px;
    margin-left: 5%;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--Color-Secundaria);
}
/* Home */
.Home{
    margin: auto;
    align-items: center;
    flex-direction: row;
}

.Img-Pablo{
    position: relative;
    left: 15%;
    max-height: 450px;
}

.Text-Pablo{
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: .49rem;
    background-color: var(--Color-Blocos);
}

.Text-Pablo p{
    margin: 10px 0;
}
/* Home */

/* Sobre */
.Sobre{
    display: flex;
}
.BlocoSobre{    
    max-width: 80%;
    height: auto;
    margin: 20px auto;    
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: .49rem;
    background-color: var(--Color-Blocos);
}
/* Sobre */

/*Certificados*/

.Bloco-Info{
    display: flex;
    flex-direction: row;
    margin:  2% auto;
    gap: 20px;
    flex-wrap: wrap;
}

.Bloco-Caixa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 200px;
    padding: 10px;
    border-radius: .49rem;
    box-shadow: 2px 2px 2px 1px #888;
    background-color: var(--Color-Blocos)
}

.Botao{
    text-align: center;
    padding: 5px;
    border-radius: .49rem;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--Color-Principal);
}

/*Certificados*/

.Img{
    max-width: 150px;    
    max-height: 150px;
    align-self: center;
}

.Skills span{
    align-self: center;
}


/* Roda Pé */

footer{
    width: 100%;
    height: 4vh;  
    background-color: var(--Color-Principal);
}

.roda-pe{
    display: flex;
    justify-content: center;
    padding: 3px;
    color: white;
}

/* Roda Pé */

/* Reponsividade */

@media screen and (max-width: 590px){
   
    /* Header */
    .Nav-Menu{
        display: none;
    }

    .ri-align-justify{
        display: block;
        color: white;
        font-size: 28px;
        align-self: center;
    }

    .Nav-Hide{
        display: flex;
        width: 150px;
        height: 180px;
        position: fixed;
        right: -150px; /*está - para ficar escondido*/
        top: 8vh;
        border-radius:  0  0  0 .5rem;
        transition: all .50s ease;
        background-color: var(--Color-Principal);
    }

    .Nav-Menu-Hide{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        align-self: center;
    }

    .Nav-Hide.open{
        right: 0px;
    }
    /* Header */

    /* Corpo */
    /* Home */
    .Home{
        flex-direction: column;        
    }

    .Img-Pablo{
        position: static;
    }
    .Text-Pablo{
        width: 80%;
    }
    /* Home */
    /* Certificados */

    .Bloco-Info{
        flex-direction: column;
        margin-top: 20px;
    }
    .Bloco-Quadrado{
        flex-direction: column;
        align-items: initial;
        width: 80%;
        margin: auto;
    }
    .Btn-Visualizar{        
        display: block;
    }

}